<h2>Pagination</h2>
<nav class="navbar">
  <input class="form-control mr-sm-2 form" type="text" name="first_name" 
  [(ngModel)]="first_name" (ngModelChange)="Search()" placeholder="Enter First Name">
</nav>
<div class="container">
  <table class="table table-bordered">
<thead class="head">
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Avatar</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let info of data | paginate:{itemsPerPage: tableSize,
  currentPage:page, totalItems:count}; let i = index">
  <td>{{info.id}}</td>
  <td>{{info.email}}</td>
  <td>{{info.first_name}}</td>
  <td>{{info.last_name}}</td>
  <td>{{info.avatar}}</td>
  </tr>
</tbody>
  </table>
  <div>
    <pagination-controls
    previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
      > 
    </pagination-controls>
    
  </div>
</div>